*{
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(275, 100%, 97%);
    background-image: url(./assets/images/background-pattern-mobile.svg);
    background-position: center top;
    background-repeat: no-repeat;
    width: 375px;
    margin: 0 auto;
}
article{
    margin: 9rem 1.5rem;
    background-color: #FFF;
    border-radius: 2%;
    padding: 1.5rem;
}
summary{
    list-style: none;
}
h1, h4{
    display: inline-block;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }